autom4te.cache/*
c/Makefile
erl/Makefile
test/c/Makefile
ebin/*.beam
ebin/*.boot
ebin/*.rel
ebin/*.script
priv/*.so
c_src/*.o
*.o
config.log
config.status
c/test_suite
.deps
.DS_Store
priv/
VERSION
build/
Makefile
c_src/parser/y.tab.h