autom4te.cache/*
c_src/Makefile
*/Makefile
c_src/parser/Makefile
configure
erl/Makefile
test/c_src/Makefile
ebin/*.beam
ebin/*.boot
ebin/*.rel
ebin/*.script
priv/*.so
c_src/*.o
*.o
config.log
config.status
.deps
.DS_Store
priv/
VERSION
build/
Makefile
c_src/parser/y.tab.h
c_src/mm
