{app_bin, ["priv/babysitter"]}.
{erl_opts, [{i, "include"}, fail_on_warning, debug_info]}.
{xref_checks, [undefined_function_calls]}.

{port_envs, [
             {"CFLAGS", "$CFLAGS -O2 -g3 -fPIC  -I./include"},
             {"LDFLAGS", "$LDFLAGS -fno-common -Wall -flat_namespace -undefined suppress"}
            ]}.

{deps, [
  {neotoma, ".*", {git, "http://github.com/auser/neotoma.git", "otp-1.4"}}
]}.